@charset "UTF-8";

#princ{
    text-align: center;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #b4c9caa7;
    height: 24px;
}
.menu{
    display: inline-block;
    background-color: #b4c9ca6b;
    border: 1px solid blue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    height: 23px;
    width: 270px;
}
p{
    font-size: 12px;
    background-color: #9aa5a56b;
}
div > p {
    display: none;
}

div:hover > p {
    display: block;
}